.btn-problems {
    color: #fff;
    background-color: #d5a6bd;
    border-color: #b88fa3;
}

.btn-refusals {
    color: #fff;
    background-color: #ea9999;
    border-color: #c07d7d;
}


.btn-other {
    color: #fff;
    background-color: #a2c4c9;
    border-color: #7e999d;
}