

/* Start:/local/templates/main/components/bitrix/catalog.search/template1/style.css?1585292014163*/
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
/* End */
/* /local/templates/main/components/bitrix/catalog.search/template1/style.css?1585292014163 */
