.bx-rating {
	color: #ffbf01;
	font-size: 17px;
	white-space: nowrap;
	margin-bottom:20px;
}
.bx-rating i.fa {
	cursor: pointer;
}
.fa.bx-star-active {
	color: #ffbf01;
}
.bx-rating i.fa{
	margin-right:3px;
}