body {
    width: 800px;
    margin: 0 auto;
}

header {
    font-weight: bold;
    padding: 10px 12px 11px 12px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
    height: 30px;
    border-bottom: 1px solid;
    background-color: #AAAAAA;
}

input[type="submit"] {
    margin-top: 50px;
}

