.btn-refusals.active, .btn-refusals:active, .open>.dropdown-toggle.btn-refusals {
    color: #fff;
    background-color: #ea9999;
    border-color: #c07d7d;
}


.btn-problems.active, .btn-problems:active, .open>.dropdown-toggle.btn-problems {
    color: #fff;
    background-color: #d5a6bd;
    border-color: #b88fa3;
}


.btn-other.active, .btn-other:active, .open>.dropdown-toggle.btn-other {
    color: #fff;
    background-color: #a2c4c9;
    border-color: #7e999d;
}



tr.refusals {

    background-color: #ea9999;
    border-color: #c07d7d;
}


tr.problems {

    background-color: #d5a6bd;
    border-color: #b88fa3;
}


tr.other {

    background-color: #a2c4c9;
    border-color: #7e999d;
}


tr.yellow {

    background-color: #e5e77d;
    border-color: #a1ab49;
}