.webdebug-photogallery-easy-slider ul, .webdebug-photogallery-easy-slider li {margin:0; padding:0; list-style:none !important;}
.webdebug-photogallery-easy-slider li { width:580px; height:240px; margin:0 !important; overflow:hidden;}
.webdebug-photogallery-easy-slider li a {display:block; font-size:0;}