html, body {
    width: 400px;
    margin: auto;
    max-width: 400px
}

textarea {
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

table {
    width: 100%;
}

table#cart {
    width: 300px;
    margin: 0 auto;
}

.ui-autocomplete p {
    margin: 0 !important;
}
.ui-autocomplete{
    font-size: 0.9em !important;
}